## slack bot
SLACK_BOT_TOKEN='*******'
# You can get your ADMIN_USERID here: https://api.slack.com/methods/users.list/test
ADMIN_USERID='*******'
SLACK_BOT_NAME='ethbot'


## mail sending
EMAIL_ADR='*******@gmail.de'
EMAIL_PWD='*******'
EMAIL_UNAME='SlackBot'


## etherum
# Change the keystore too!
NETWORK_ID='TEST'
# The ACCOUNT_FOLDER has to point to the folder that contains the ethereum account files (usually in the user data in some ~/.ethereum folder in sub-folder keystore).
ACCOUNT_FOLDER='~/.ethereum/testnet/keystore/'


## smart contract
# You have to deploy the contract first, obvious...
CONTRACT_ADR='0x*******'
# 1 ETH, see http://ether.fund/tool/converter
INIT_ACCOUNT_MONEY='20000000000000000'
# Potentially your ethereum account
ADMIN_ACCOUNT_ADR='0x*******'
ADMIN_ACCOUNT_PWD='*******'
DEFAULT_INIT_AMOUNT_LOTTERY='100000000000000000'
DEFAULT_MIN_AMOUNT_LOTTERY='10000000000000000'


## interface for the smart contract
CONTRACT_ABI_PATH='../appconfig/'
# replace contract_abi.json if the interface changes
CONTRACT_ABI_FILE='contract_abi.json'